/*use 2 Sass variables to html tags*/
$background-color: #6D6D6D;
$text-color: #3D3D3D;
body {
  background-color: $background-color;
  color: $text-color;
}
p {
  color: $text-color;
}
h2 {
  background-color: $background-color;
}